.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-image: linear-gradient(to bottom, #346BFF, #00AD53) !important; 
    color: #ffffff !important;
    
}

.css-1l8j5k8{
    background-color: unset !important;
}